# Setup

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import time
import re
import os

%config InlineBackend.figure_format = 'png'
plt.rcParams['figure.dpi']= 300

# Scrape Data

## Scrape Setup

In [2]:
year_list = [str(year) for year in list(range(2002,2018))]
url_list = [('https://www.baseball-reference.com/leagues/AL/' + year + '.shtml') 
            for year in year_list]

chromedriver = '/Users/kellyjones/Downloads/chromedriver' # path to the chromedriver executable
os.environ['webdriver.chrome.driver'] = chromedriver
driver = webdriver.Chrome(chromedriver)
driver.implicitly_wait(5)

## Pull Data from URLs by Year
Use table ID to pull batting, pitching, and fielding tables from each page, then quit driver.

In [3]:
# 2002
driver.get(url_list[0])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_02bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_02pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_02fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [4]:
#2003
driver.get(url_list[1])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_03bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_03pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_03fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [5]:
#2004
driver.get(url_list[2])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_04bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_04pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_04fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [6]:
#2005
driver.get(url_list[3])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_05bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_05pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_05fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [7]:
#2006
driver.get(url_list[4])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_06bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_06pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_06fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [8]:
#2007
driver.get(url_list[5])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_07bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_07pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_07fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [9]:
#2008
driver.get(url_list[6])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_08bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_08pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_08fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [10]:
#2009
driver.get(url_list[7])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_09bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_09pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_09fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [11]:
#2010
driver.get(url_list[8])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_10bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_10pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_10fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [12]:
#2011
driver.get(url_list[9])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_11bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_11pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_11fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [13]:
#2012
driver.get(url_list[10])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_12bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_12pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_12fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [14]:
#2013
driver.get(url_list[11])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_13bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_13pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_13fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [15]:
#2014
driver.get(url_list[12])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_14bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_14pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_14fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [16]:
#2015
driver.get(url_list[13])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_15bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_15pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_15fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [17]:
#2016
driver.get(url_list[14])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_16bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_16pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_16fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [18]:
#2017
driver.get(url_list[15])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_17bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_17pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_17fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [19]:
driver.quit()

# Parse Data

## Team Names

In scraped data, team names are hyperlinked and not easily scraped with other columns, so will be added back in with each year's dataframes.

In [20]:
# Team names by yr for DF (Angels and Rays changed team names, Astros joined division)
teams_list_02to04 = ['LAA', 'BAL', 'BOS', 'CHW', 'CLE', 'DET', 'KCR', 'MIN', 'NYY', 'OAK', 'SEA', 'TBD', 'TEX', 'TOR']
teams_list_05to12 = ['BAL', 'BOS', 'CHW', 'CLE', 'DET', 'KCR', 'LAA', 'MIN', 'NYY', 'OAK', 'SEA', 'TBD', 'TEX', 'TOR']
teams_list_13to17 = ['BAL', 'BOS', 'CHW', 'CLE', 'DET', 'HOU', 'KCR', 'LAA', 'MIN', 'NYY', 'OAK', 'SEA', 'TBD', 'TEX', 
                     'TOR']

## Variable Glossary

### Batting

**#Bat** -- Number of Players used in Games  
**BatAge** -- Batters’ average age, weighted by AB + Games Played  
**R/G** -- Runs Scored Per Game  
**G** -- Games Played or Pitched  
**PA** -- *Plate Appearances. When available, we use actual plate appearances from play-by-play game accounts. Otherwise estimated using AB + BB + HBP + SF + SH, which excludes catcher interferences.*  
**AB** -- At Bats  
**R** -- Runs Scored/Allowed  
**H** -- Hits/Hits Allowed  
**HR** -- Home Runs Hit/Allowed  
**RBI** -- Runs Batted In  
**SB** -- Stolen Bases  
**CS** -- Caught Stealing  
**BB** -- Bases on Balls/Walks  
**SO** -- Strikeouts  
**BA** -- Hits/At Bats  
**OBP** -- (H + BB + HBP)/(At Bats + BB + HBP + SF)  
**SLG** -- Total Bases/At Bats or (1B + 2x2B + 3x3B + 4xHR)/AB  
**OPS** -- On-Base + Slugging Percentages  
**OPS+** -- OPS+ *100x(OBP/lg OBP + SLG/lg SLG - 1), adjusted to the player’s ballpark(s)*  
**TB** -- Total Bases. *Singles + 2 x Doubles + 3 x Triples + 4 x Home Runs*  
**GDP** -- Double Plays Grounded Into. *Only includes standard 6-4-3, 4-3, etc. double plays. For gamelogs only in seasons we have play-by-play, we include triple plays as well. All official seasonal totals do not include GITP's.*  
**HBP** -- Times Hit by a Pitch.  
**SH** -- Sacrifice Hits (Sacrifice Bunts)  
**SF** -- Sacrifice Flies  
**IBB** -- Intentional Bases on Balls  
**LOB** -- Runners Left On Base

### Pitching

**#P** -- Number of Pitchers used in Games  
**PAge** -- Pitchers’ average age  
Weighted by 3*GS + G + SV  
RA/G -- Runs Allowed Per Game  
W -- Wins  
L -- Losses  
W-L% -- Win-Loss Percentage  
W / (W + L)  
For players, leaders need one decision for every ten team games.
For managers, minimum to qualify for leading is 320 games.  
ERA -- 9 * ER / IP  
For recent years, leaders need 1 IP
per team game played.
Bold indicates lowest ERA using current stats
Gold means awarded ERA title at end of year.  
G -- Games Played or Pitched  
GS -- Games Started  
GF -- Games Finished  
CG -- Complete Game  
tSho -- Shutouts by a team  
No runs allowed in a game by one or more pitchers.  
cSho -- Shutouts  
No runs allowed and a complete game.  
SV -- Saves  
IP -- Innings Pitched  
H -- Hits/Hits Allowed  
R -- Runs Scored/Allowed  
ER -- Earned Runs Allowed  
HR -- Home Runs Hit/Allowed  
BB -- Bases on Balls/Walks  
IBB -- Intentional Bases on Balls  
First tracked in 1955.  
SO -- Strikeouts  
HBP -- Times Hit by a Pitch.  
BK -- Balks  
WP -- Wild Pitches  
BF -- Batters Faced  
ERA+ -- ERA+  
100*[lgERA/ERA]  
Adjusted to the player’s ballpark(s).  
FIP -- Fielding Independent Pitching  
this stat measures a pitcher's effectiveness at preventing HR, BB, HBP and causing SO
(13*HR + 3*(BB+HBP) - 2*SO)/IP + Constantlg
The constant is set so that each season MLB average FIP is the same as the MLB avg ERA  
WHIP -- (BB + H)/IP  
For recent years, leaders need 1 IP
per team game played  
H9 -- 9 x H / IP  
For recent years, leaders need 1 IP
per team game played  
HR9 -- 9 x HR / IP  
For recent years, leaders need 1 IP
per team game played  
BB9 -- 9 x BB / IP  
For recent years, leaders need 1 IP
per team game played  
SO9 -- 9 x SO / IP  
For recent years, leaders need 1 IP
per team game played  
SO/W -- SO/W or SO/BB  
For recent years, pitching leaders need 1 IP
per team game played.  
No batting leaders computed.  
LOB -- Runners Left On Base

### Fielding

**#Fld** -- Number of Players used as Fielders  
**RA/G** -- Runs Allowed Per Game  
**DefEff** -- Defensive Efficiency  
*Percentage of balls in play converted into outs. This is an estimate based on team defensive and pitching stats. We utilize two estimates of plays made. One using innings pitched, strikeouts, double plays and outfield assists. And the other with batters faced, strikeouts, hits allowed, walks allowed, hbp, and .71 x errors committed (avg percent of errors that result in an ROE) Total plays available are plays made + hits allowed - home runs + error committed estimate.*  
**G** -- Games Played or Pitched
GS -- Games Started  
CG -- Complete Game  
Inn -- Innings Played in Field  
Ch -- Defensive Chances  
*Putouts + Assists + Errors*  
PO -- Putouts  
A -- Assists  
E -- Errors Committed  
DP -- Double Plays Turned  
Fld% -- Fielding Percentage  
(Putouts + Assists) / (Putouts + Assists + Errors)
Rtot -- Total Zone Total Fielding Runs Above Avg
The number of runs above or below average the player was worth based on the number of plays made. This number combines the Rtz, Rdp, Rof, Rcatch numbers into a total defensive contribution.  
Rtot/yr -- Total Zone Total Fielding Runs Above Avg per 1,200 Inn  
The number of runs above or below average the fielder was worth per 1,200 Innings (approx 135 games).
This number combines the Rtz, Rdp, Rof, Rcatch numbers into a total defensive contribution.
See the glossary section for a more complete explanation.
Provided by BaseballProjection.com  
Rdrs -- BIS Defensive Runs Saved Above Avg  
The number of runs above or below average the player was worth based on the number of plays made.
This number combines the Rpm, Rbdp, Rbof, Rbcatch numbers into a total defensive contribution.
Provided by Baseball Info Solutions  
Rdrs/yr -- BIS Defensive Runs Saved Above Avg per 1,200 Inn  
The number of runs above or below average the fielder was worth per 1,200 Innings (approx 135 games).
This number combines the Rpm, Rbdp, Rbof, Rbcatch numbers into a total defensive contribution.
For pitchers, this is set to 200 Innings.

## Parse Tables by Year

* For column headers, skip first column with hyperlinked team names. 
* For data rows, skip first row (column headers) and last two rows (summary statistics). 
* Reset index after each year of data.
* List of teams changes in 2005 and 2013.

### Batting

In [21]:
# 2002 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_02bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_02bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_bat['Year'] = '2002'
df_bat['YrTm'] = df_bat['Year'] + df_bat['Team']
df_bat.shape # should be 14 rows

(14, 31)

In [22]:
# 2003 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_03bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_03bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_bat_interim['Year'] = '2003'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 28 rows

(28, 31)

In [23]:
# 2004 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_04bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_04bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_bat_interim['Year'] = '2004'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 42 rows

(42, 31)

In [24]:
# 2005 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_05bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_05bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2005'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 56 rows

(56, 31)

In [25]:
# 2006 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_06bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_06bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2006'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 70 rows

(70, 31)

In [26]:
# 2007 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_07bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_07bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2007'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 84 rows

(84, 31)

In [27]:
# 2008 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_08bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_08bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2008'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 98 rows

(98, 31)

In [28]:
# 2009 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_09bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_09bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2009'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 112 rows

(112, 31)

In [29]:
# 2010 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_10bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_10bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2010'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 126 rows

(126, 31)

In [30]:
# 2011 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_11bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_11bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2011'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 140 rows

(140, 31)

In [31]:
# 2012 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_12bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_12bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2012'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 154 rows

(154, 31)

In [32]:
# 2013 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_13bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_13bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2013'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 169 rows

(169, 31)

In [33]:
# 2014 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_14bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_14bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2014'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 184 rows

(184, 31)

In [34]:
# 2015 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_15bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_15bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2015'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 199 rows

(199, 31)

In [35]:
# 2016 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_16bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_16bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2016'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 214 rows

(214, 31)

In [36]:
# 2017 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_17bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_17bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2017'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 229 rows

(229, 31)

In [37]:
df_bat.sample(10)

,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,3B,...,TB,GDP,HBP,SH,SF,IBB,LOB,Team,Year,YrTm
190,45,29.1,4.47,162,6116,5575,724,1497,300,42,...,2298,133,77,34,47,28,1079,KCR,2015,2015KCR
100,45,29.8,4.47,162,6132,5463,724,1410,246,20,...,2248,139,62,34,39,25,1086,CHW,2009,2009CHW
123,37,27.5,4.95,162,6270,5439,802,1343,295,37,...,2192,92,57,39,57,30,1152,TBD,2010,2010TBD
56,46,30.4,4.74,162,6240,5610,768,1556,288,20,...,2376,145,73,40,41,35,1177,BAL,2006,2006BAL
139,53,28.3,4.59,162,6210,5559,743,1384,285,34,...,2295,108,48,31,47,41,1090,TOR,2011,2011TOR
178,58,32.8,3.91,162,6082,5497,633,1349,247,26,...,2089,111,56,29,47,16,1098,NYY,2014,2014NYY
91,40,26.2,5.09,163,6331,5641,829,1572,298,49,...,2301,142,36,52,72,48,1140,MIN,2008,2008MIN
112,45,28.6,3.78,162,6109,5554,613,1440,264,21,...,2145,154,54,31,45,32,1139,BAL,2010,2010BAL
75,45,28.0,4.36,162,6140,5534,706,1447,300,46,...,2145,151,89,41,47,34,1089,KCR,2007,2007KCR
145,46,26.1,4.17,162,6149,5636,676,1492,295,37,...,2254,130,42,26,41,35,1087,KCR,2012,2012KCR

### Pitching

In [38]:
# 2002 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_02pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_02pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_pit['Year'] = '2002'
df_pit['YrTm'] = df_pit['Year'] + df_pit['Team']
df_pit.shape # should be 14 rows

(14, 38)

In [39]:
# 2003 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_03pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_03pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_pit_interim['Year'] = '2003'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 28 rows

(28, 38)

In [40]:
# 2004 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_04pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_04pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_pit_interim['Year'] = '2004'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 42 rows

(42, 38)

In [41]:
# 2005 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_05pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_05pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2005'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 56 rows

(56, 38)

In [42]:
# 2006 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_06pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_06pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2006'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 70 rows

(70, 38)

In [43]:
# 2007 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_07pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_07pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2007'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 84 rows

(84, 38)

In [44]:
# 2008 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_08pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_08pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2008'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 98 rows

(98, 38)

In [45]:
# 2009 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_09pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_09pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2009'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 112 rows

(112, 38)

In [46]:
# 2010 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_10pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_10pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2010'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 126 rows

(126, 38)

In [47]:
# 2011 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_11pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_11pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2011'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 140 rows

(140, 38)

In [48]:
# 2012 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_12pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_12pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2012'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 154 rows

(154, 38)

In [49]:
# 2013 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_13pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_13pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2013'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 169 rows

(169, 38)

In [50]:
# 2014 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_14pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_14pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2014'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 184 rows

(184, 38)

In [51]:
# 2015 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_15pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_15pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2015'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 199 rows

(199, 38)

In [52]:
# 2016 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_16pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_16pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2016'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 214 rows

(214, 38)

In [53]:
# 2017 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_17pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_17pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2017'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 229 rows

(229, 38)

In [54]:
df_pit.sample(10)

,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,GF,...,WHIP,H9,HR9,BB9,SO9,SO/W,LOB,Team,Year,YrTm
34,25,27.4,5.59,58,104,.358,5.15,162,162,156,...,1.518,10.4,1.3,3.3,5.6,1.71,1154,KCR,2004,2004KCR
125,24,28.0,4.49,85,77,.525,4.22,162,162,157,...,1.351,8.8,0.9,3.4,7.4,2.20,1115,TOR,2010,2010TOR
59,23,28.6,4.83,78,84,.481,4.41,162,162,149,...,1.414,10.0,1.0,2.7,6.0,2.21,1138,CLE,2006,2006CLE
89,25,27.6,4.82,75,87,.463,4.48,162,162,160,...,1.375,9.2,1.0,3.2,6.8,2.11,1096,KCR,2008,2008KCR
196,27,26.7,3.96,80,82,.494,3.74,162,162,161,...,1.232,8.1,1.1,3.0,8.4,2.84,1067,TBD,2015,2015TBD
9,17,27.4,4.04,103,59,.636,3.68,162,162,153,...,1.284,8.6,0.8,2.9,6.3,2.15,1148,OAK,2002,2002OAK
51,20,26.6,4.06,88,74,.543,3.69,162,162,153,...,1.254,8.2,1.0,3.1,6.7,2.13,1071,OAK,2005,2005OAK
173,30,28.5,4.35,90,72,.556,4.01,162,162,157,...,1.332,9.1,0.8,2.9,7.7,2.69,1124,DET,2014,2014DET
158,20,28.4,3.85,93,69,.574,3.61,162,162,159,...,1.252,8.4,0.8,2.8,8.8,3.09,1107,DET,2013,2013DET
211,25,26.9,4.40,68,94,.420,4.20,162,162,161,...,1.322,8.8,1.3,3.1,8.6,2.76,1084,TBD,2016,2016TBD

In [55]:
df_pit.head()

,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,GF,...,WHIP,H9,HR9,BB9,SO9,SO/W,LOB,Team,Year,YrTm
0,18,30.2,3.98,99,63,.611,3.69,162,162,155,...,1.277,8.3,1.0,3.2,6.2,1.96,1096,LAA,2002,2002LAA
1,20,27.8,4.77,67,95,.414,4.46,162,162,154,...,1.406,9.3,1.3,3.4,6.0,1.76,1133,BAL,2002,2002BAL
2,18,31.1,4.10,93,69,.574,3.75,162,162,157,...,1.223,8.3,0.9,2.7,7.2,2.69,1046,BOS,2002,2002BOS
3,16,25.8,4.93,81,81,.500,4.53,162,162,155,...,1.370,9.0,1.2,3.3,6.0,1.79,1064,CHW,2002,2002CHW
4,31,28.1,5.17,74,88,.457,4.91,162,162,153,...,1.482,9.5,0.9,3.8,6.7,1.75,1160,CLE,2002,2002CLE

In [56]:
df_pit.tail()

,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,GF,...,WHIP,H9,HR9,BB9,SO9,SO/W,LOB,Team,Year,YrTm
224,28,27.9,5.10,75,87,.463,4.67,162,162,161,...,1.360,9.1,1.3,3.2,7.6,2.39,1048,OAK,2017,2017OAK
225,40,27.8,4.77,78,84,.481,4.46,162,162,161,...,1.312,8.7,1.5,3.1,7.8,2.54,1039,SEA,2017,2017SEA
226,30,27.6,4.35,80,82,.494,3.97,162,162,162,...,1.264,8.2,1.2,3.1,8.4,2.69,1060,TBD,2017,2017TBD
227,31,28.8,5.04,78,84,.481,4.66,162,162,160,...,1.396,9.1,1.3,3.5,6.9,1.98,1092,TEX,2017,2017TEX
228,33,28.8,4.84,76,86,.469,4.42,162,162,160,...,1.371,9.0,1.2,3.4,8.4,2.50,1137,TOR,2017,2017TOR

### Fielding

In [57]:
# 2002 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_02fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_02fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_fld['Year'] = '2002'
df_fld['YrTm'] = df_fld['Year'] + df_fld['Team']
df_fld.shape # should be 14 rows

(14, 18)

In [58]:
# 2003 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_03fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_03fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_fld_interim['Year'] = '2003'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 28 rows

(28, 20)

Columns increased from 18 to 20 starting in 2003 because of addition of two stats:
* **Rdrs:** Defensive runs saved above average
* **Rdrs/yr:** Defensive runs saved above average per 1,200 innings (appx 135 games)

In [59]:
# 2004 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_04fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_04fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_fld_interim['Year'] = '2004'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 42 rows

(42, 20)

In [60]:
# 2005 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_05fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_05fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2005'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 56 rows

(56, 20)

In [61]:
# 2006 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_06fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_06fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2006'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 70 rows

(70, 20)

In [62]:
# 2007 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_07fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_07fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2007'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 84 rows

(84, 20)

In [63]:
# 2008 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_08fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_08fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2008'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 98 rows

(98, 20)

In [64]:
# 2009 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_09fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_09fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2009'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 112 rows

(112, 20)

In [65]:
# 2010 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_10fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_10fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2010'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 126 rows

(126, 20)

In [66]:
# 2011 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_11fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_11fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2011'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 140 rows

(140, 20)

In [67]:
# 2012 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_12fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_12fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2012'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 154 rows

(154, 20)

In [68]:
# 2013 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_13fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_13fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2013'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 169 rows

(169, 20)

In [69]:
# 2014 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_14fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_14fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2014'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 184 rows

(184, 20)

In [70]:
# 2015 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_15fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_15fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2015'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 199 rows

(199, 20)

In [71]:
# 2016 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_16fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_16fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2016'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 214 rows

(214, 20)

In [72]:
# 2017 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_17fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_17fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2017'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 229 rows

(229, 20)

In [73]:
df_fld.head()

,#Fld,A,CG,Ch,DP,DefEff,E,Fld%,G,GS,Inn,PO,RA/G,Rdrs,Rdrs/yr,Rtot,Rtot/yr,Team,Year,YrTm
0,40,1575,1075,6020,151,.718,87,.986,162,1458,13071.0,4358,3.98,NaN,NaN,98,9,LAA,2002,2002LAA
1,46,1720,1165,6163,173,.701,91,.985,162,1458,13056.0,4352,4.77,NaN,NaN,43,4,BAL,2002,2002BAL
2,39,1645,1150,6087,140,.702,104,.983,162,1458,13014.0,4338,4.10,NaN,NaN,62,6,BOS,2002,2002BOS
3,35,1595,1168,5961,157,.706,97,.984,162,1458,12807.0,4269,4.93,NaN,NaN,13,1,CHW,2002,2002CHW
4,59,1662,1153,6049,161,.674,113,.981,162,1458,12822.0,4274,5.17,NaN,NaN,-49,-5,CLE,2002,2002CLE

In [74]:
df_fld.tail()

,#Fld,A,CG,Ch,DP,DefEff,E,Fld%,G,GS,Inn,PO,RA/G,Rdrs,Rdrs/yr,Rtot,Rtot/yr,Team,Year,YrTm
224,54,1597,1111,6011,162,.686,121,.980,162,1458,12879.0,4293,5.10,-48,-1,-41,-4,OAK,2017,2017OAK
225,61,1422,1154,5847,147,.700,103,.982,162,1458,12963.0,4322,4.77,6,0,10,1,SEA,2017,2017SEA
226,53,1433,1129,5868,129,.701,100,.983,162,1458,13005.0,4335,4.35,59,1,26,2,TBD,2017,2017TBD
227,51,1616,1131,6027,173,.695,108,.982,162,1458,12909.0,4303,5.04,-1,0,50,5,TEX,2017,2017TEX
228,60,1570,1073,6057,145,.682,92,.985,162,1458,13185.0,4395,4.84,-17,-2,-28,-3,TOR,2017,2017TOR

In [75]:
df_fld.sample(5)

,#Fld,A,CG,Ch,DP,DefEff,E,Fld%,G,GS,Inn,PO,RA/G,Rdrs,Rdrs/yr,Rtot,Rtot/yr,Team,Year,YrTm
7,42,1422,1103,5830,124,.703,74,.987,161,1449,13002.0,4334,4.42,NaN,NaN,21,2,MIN,2002,2002MIN
193,55,1594,1037,6060,135,.685,93,.985,162,1458,13119.0,4373,4.31,-39,-1,-32,-3,NYY,2015,2015NYY
93,49,1573,1059,5976,169,.699,98,.984,161,1449,12915.0,4305,4.29,58,1,23,2,OAK,2008,2008OAK
90,41,1646,1119,6091,159,.691,91,.985,162,1458,13062.0,4354,4.30,-6,-1,25,2,LAA,2008,2008LAA
67,49,1594,1125,5971,156,.671,116,.981,162,1458,12783.0,4261,5.28,-35,-3,-59,-6,TBD,2006,2006TBD

## Merge Tables

### Remove Duplicate Columns

In [76]:
bat_cols = df_bat.columns
pit_cols = df_pit.columns
fld_cols = df_fld.columns

In [77]:
# find duplicate columns
dup_cols_bp = [x for x in pit_cols if x in bat_cols]
dup_cols_bf = [x for x in fld_cols if x in bat_cols]
dup_cols_pf = [x for x in fld_cols if x in pit_cols]

In [78]:
dup_cols_bp # To remove from pitching DF (except YrTm)

['G', 'H', 'R', 'HR', 'BB', 'IBB', 'SO', 'HBP', 'LOB', 'Team', 'Year', 'YrTm']

In [79]:
df_pit_sm = df_pit.drop(['G','H','R','HR','BB','IBB','SO','HBP','LOB','Team','Year'], axis=1)

In [80]:
df_pit_sm.head()

,#P,PAge,RA/G,W,L,W-L%,ERA,GS,GF,CG,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,YrTm
0,18,30.2,3.98,99,63,.611,3.69,162,155,7,...,6097,120,4.25,1.277,8.3,1.0,3.2,6.2,1.96,2002LAA
1,20,27.8,4.77,67,95,.414,4.46,162,154,8,...,6258,97,4.74,1.406,9.3,1.3,3.4,6.0,1.76,2002BAL
2,18,31.1,4.10,93,69,.574,3.75,162,157,5,...,6049,122,3.74,1.223,8.3,0.9,2.7,7.2,2.69,2002BOS
3,16,25.8,4.93,81,81,.500,4.53,162,155,7,...,6131,99,4.61,1.370,9.0,1.2,3.3,6.0,1.79,2002CHW
4,31,28.1,5.17,74,88,.457,4.91,162,153,9,...,6271,90,4.16,1.482,9.5,0.9,3.8,6.7,1.75,2002CLE

In [81]:
dup_cols_bf # To remove from fielding DF (except YrTm)

['G', 'Team', 'Year', 'YrTm']

In [82]:
dup_cols_pf # Also to remove from fielding DF (except YrTm)

['CG', 'G', 'GS', 'RA/G', 'Team', 'Year', 'YrTm']

In [83]:
df_fld_sm = df_fld.drop(['G','Team','Year','CG','GS','RA/G'], axis=1)

In [84]:
df_fld_sm.head()

,#Fld,A,Ch,DP,DefEff,E,Fld%,Inn,PO,Rdrs,Rdrs/yr,Rtot,Rtot/yr,YrTm
0,40,1575,6020,151,.718,87,.986,13071.0,4358,NaN,NaN,98,9,2002LAA
1,46,1720,6163,173,.701,91,.985,13056.0,4352,NaN,NaN,43,4,2002BAL
2,39,1645,6087,140,.702,104,.983,13014.0,4338,NaN,NaN,62,6,2002BOS
3,35,1595,5961,157,.706,97,.984,12807.0,4269,NaN,NaN,13,1,2002CHW
4,59,1662,6049,161,.674,113,.981,12822.0,4274,NaN,NaN,-49,-5,2002CLE

### Merge on `YrTm` Index

In [90]:
dfstomerge = [df_bat, df_pit_sm, df_fld_sm]
dfstomerge = [df.set_index('YrTm') for df in dfstomerge]

In [86]:
df_scraped = dfstomerge[0].join(dfstomerge[1:])

In [92]:
df_scraped.sample(5)

,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,3B,...,DP,DefEff,E,Fld%,Inn,PO,Rdrs,Rdrs/yr,Rtot,Rtot/yr
YrTm,,,,,,,,,,,,,,,,,,,,,
2015TEX,57,28.7,4.64,162,6187,5511,751,1419,279,32,...,169,.687,119,.981,12984.0,4328,2,0,43,4
2017NYY,51,28.6,5.30,162,6354,5594,858,1463,266,23,...,102,.703,95,.984,13038.0,4346,19,2,25,2
2017OAK,54,28.7,4.56,162,6126,5464,739,1344,305,15,...,162,.686,121,.980,12879.0,4293,-48,-1,-41,-4
2004CHW,42,28.6,5.34,162,6197,5534,865,1481,284,19,...,167,.693,100,.984,12891.0,4297,35,1,-4,0
2005DET,45,28.5,4.46,162,6136,5602,723,1521,283,45,...,171,.695,110,.982,12921.0,4307,34,3,12,1

# Exploratory Data Analysis

In [ ]:
df_scraped.info()

In [97]:
# Change datatype from object to floats/ints

df_scraped[['BatAge','R/G','BA','OBP','SLG','OPS','PAge','RA/G','W-L%','ERA','IP','FIP','WHIP',
           'H9','HR9','BB9','SO9','SO/W','DefEff','Fld%']] = df_scraped[['BatAge','R/G','BA',
            'OBP','SLG','OPS','PAge','RA/G','W-L%','ERA','IP','FIP','WHIP','H9','HR9','BB9',
            'SO9','SO/W','DefEff','Fld%']].astype(float)

In [106]:
df_scraped[['#Bat','G','PA','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','SO','OPS+','TB',
            'GDP','HBP','SH','SF','IBB','LOB','#P','W','L','GS','GF','CG','tSho','cSho','SV',
           'ER','BK','WP','BF','ERA+','#Fld','A','Ch','DP','E','PO','Rtot','Rtot/yr'
           ]] = df_scraped[['#Bat','G','PA','AB','R','H','2B','3B','HR','RBI',
            'SB','CS','BB','SO','OPS+','TB','GDP','HBP','SH','SF','IBB','LOB','#P','W','L',
            'GS','GF','CG','tSho','cSho','SV','ER','BK','WP','BF','ERA+','#Fld','A','Ch','DP',
            'E','PO','Rtot','Rtot/yr']].astype(int)

In [107]:
df_scraped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 229 entries, 2002LAA to 2017TOR
Data columns (total 69 columns):
#Bat       229 non-null int64
BatAge     229 non-null float64
R/G        229 non-null float64
G          229 non-null int64
PA         229 non-null int64
AB         229 non-null int64
R          229 non-null int64
H          229 non-null int64
2B         229 non-null int64
3B         229 non-null int64
HR         229 non-null int64
RBI        229 non-null int64
SB         229 non-null int64
CS         229 non-null int64
BB         229 non-null int64
SO         229 non-null int64
BA         229 non-null float64
OBP        229 non-null float64
SLG        229 non-null float64
OPS        229 non-null float64
OPS+       229 non-null int64
TB         229 non-null int64
GDP        229 non-null int64
HBP        229 non-null int64
SH         229 non-null int64
SF         229 non-null int64
IBB        229 non-null int64
LOB        229 non-null int64
Team       229 non-null object
Year       229 non-null object
#P         229 non-null int64
PAge       229 non-null float64
RA/G       229 non-null float64
W          229 non-null int64
L          229 non-null int64
W-L%       229 non-null float64
ERA        229 non-null float64
GS         229 non-null int64
GF         229 non-null int64
CG         229 non-null int64
tSho       229 non-null int64
cSho       229 non-null int64
SV         229 non-null int64
IP         229 non-null float64
ER         229 non-null int64
BK         229 non-null int64
WP         229 non-null int64
BF         229 non-null int64
ERA+       229 non-null int64
FIP        229 non-null float64
WHIP       229 non-null float64
H9         229 non-null float64
HR9        229 non-null float64
BB9        229 non-null float64
SO9        229 non-null float64
SO/W       229 non-null float64
#Fld       229 non-null int64
A          229 non-null int64
Ch         229 non-null int64
DP         229 non-null int64
DefEff     229 non-null float64
E          229 non-null int64
Fld%       229 non-null float64
Inn        229 non-null object
PO         229 non-null int64
Rdrs       215 non-null object
Rdrs/yr    215 non-null object
Rtot       229 non-null int64
Rtot/yr    229 non-null int64
dtypes: float64(20), int64(44), object(5)
memory usage: 135.2+ KB

## Pitching

#### Analysis
Based on heatmap below, looking at middle row for W-L%, I will definitely **not** include number of pitchers in my model. I will likely include RA/G or ERA which are highly correlated at -.87 and -.85 respectively.

In [ ]:
sns.heatmap(df_pit_sm.corr(), vmin=-1, vmax=1, cmap='seismic', annot=True)

In [ ]:
sns.pairplot(df_pit_sm, size = 1.2, aspect=1.5);