# Setup

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import time
import re
import os

%config InlineBackend.figure_format = 'png'
plt.rcParams['figure.dpi']= 300

# Scrape Data

## Scrape Setup

In [2]:
year_list = [str(year) for year in list(range(2002,2018))]
url_list = [('https://www.baseball-reference.com/leagues/AL/' + year + '.shtml') 
            for year in year_list]

chromedriver = '/Users/kellyjones/Downloads/chromedriver' # path to the chromedriver executable
os.environ['webdriver.chrome.driver'] = chromedriver
driver = webdriver.Chrome(chromedriver)
driver.implicitly_wait(5)

## Pull Data from URLs by Year
Use table ID to pull batting, pitching, and fielding tables from each page, then quit driver.

In [3]:
# 2002
driver.get(url_list[0])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_02bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_02pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_02fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [4]:
#2003
driver.get(url_list[1])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_03bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_03pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_03fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [5]:
#2004
driver.get(url_list[2])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_04bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_04pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_04fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [6]:
#2005
driver.get(url_list[3])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_05bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_05pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_05fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [7]:
#2006
driver.get(url_list[4])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_06bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_06pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_06fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [8]:
#2007
driver.get(url_list[5])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_07bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_07pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_07fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [9]:
#2008
driver.get(url_list[6])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_08bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_08pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_08fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [10]:
#2009
driver.get(url_list[7])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_09bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_09pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_09fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [11]:
#2010
driver.get(url_list[8])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_10bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_10pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_10fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [12]:
#2011
driver.get(url_list[9])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_11bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_11pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_11fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [13]:
#2012
driver.get(url_list[10])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_12bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_12pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_12fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [14]:
#2013
driver.get(url_list[11])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_13bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_13pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_13fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [15]:
#2014
driver.get(url_list[12])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_14bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_14pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_14fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [16]:
#2015
driver.get(url_list[13])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_15bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_15pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_15fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [17]:
#2016
driver.get(url_list[14])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_16bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_16pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_16fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [18]:
#2017
driver.get(url_list[15])
soup = BeautifulSoup(driver.page_source, 'lxml')

table_17bat = soup.find('table', {'id' : 'teams_standard_batting'})
table_17pit = soup.find('table', {'id' : 'teams_standard_pitching'})
table_17fld = soup.find('table', {'id' : 'teams_standard_fielding'})

In [19]:
driver.quit()

# Parse Data

## Team Names

In scraped data, team names are hyperlinked and not easily scraped with other columns, so will be added back in with each year's dataframes.

In [20]:
# Team names by yr for DF (Angels and Rays changed team names, Astros joined division)
teams_list_02to04 = ['LAA', 'BAL', 'BOS', 'CHW', 'CLE', 'DET', 'KCR', 'MIN', 'NYY', 'OAK', 'SEA', 'TBD', 'TEX', 'TOR']
teams_list_05to12 = ['BAL', 'BOS', 'CHW', 'CLE', 'DET', 'KCR', 'LAA', 'MIN', 'NYY', 'OAK', 'SEA', 'TBD', 'TEX', 'TOR']
teams_list_13to17 = ['BAL', 'BOS', 'CHW', 'CLE', 'DET', 'HOU', 'KCR', 'LAA', 'MIN', 'NYY', 'OAK', 'SEA', 'TBD', 'TEX', 
                     'TOR']

## Variable Glossary

### Batting

**#Bat** -- Number of Players used in Games  
**BatAge** -- Batters’ average age, weighted by AB + Games Played  
**R/G** -- Runs Scored Per Game  
**G** -- Games Played or Pitched  
**PA** -- *Plate Appearances. When available, we use actual plate appearances from play-by-play game accounts. Otherwise estimated using AB + BB + HBP + SF + SH, which excludes catcher interferences.*  
**AB** -- At Bats  
**R** -- Runs Scored/Allowed  
**H** -- Hits/Hits Allowed  
**HR** -- Home Runs Hit/Allowed  
**RBI** -- Runs Batted In  
**SB** -- Stolen Bases  
**CS** -- Caught Stealing  
**BB** -- Bases on Balls/Walks  
**SO** -- Strikeouts  
**BA** -- Hits/At Bats  
**OBP** -- (H + BB + HBP)/(At Bats + BB + HBP + SF)  
**SLG** -- Total Bases/At Bats or (1B + 2x2B + 3x3B + 4xHR)/AB  
**OPS** -- On-Base + Slugging Percentages  
**OPS+** -- OPS+ *100x(OBP/lg OBP + SLG/lg SLG - 1), adjusted to the player’s ballpark(s)*  
**TB** -- Total Bases. *Singles + 2 x Doubles + 3 x Triples + 4 x Home Runs*  
**GDP** -- Double Plays Grounded Into. *Only includes standard 6-4-3, 4-3, etc. double plays. For gamelogs only in seasons we have play-by-play, we include triple plays as well. All official seasonal totals do not include GITP's.*  
**HBP** -- Times Hit by a Pitch.  
**SH** -- Sacrifice Hits (Sacrifice Bunts)  
**SF** -- Sacrifice Flies  
**IBB** -- Intentional Bases on Balls  
**LOB** -- Runners Left On Base

### Pitching

#P -- Number of Pitchers used in Games  
PAge -- Pitchers’ average age  
Weighted by 3xGS + G + SV  
RA/G -- Runs Allowed Per Game  
W -- Wins  
L -- Losses  
W-L% -- Win-Loss Percentage  
W / (W + L)  
For players, leaders need one decision for every ten team games.
For managers, minimum to qualify for leading is 320 games.  
ERA -- 9 x ER / IP  
For recent years, leaders need 1 IP
per team game played.
Bold indicates lowest ERA using current stats
Gold means awarded ERA title at end of year.  
G -- Games Played or Pitched  
GS -- Games Started  
GF -- Games Finished  
CG -- Complete Game  
tSho -- Shutouts by a team  
No runs allowed in a game by one or more pitchers.  
cSho -- Shutouts  
No runs allowed and a complete game.  
SV -- Saves  
IP -- Innings Pitched  
H -- Hits/Hits Allowed  
R -- Runs Scored/Allowed  
ER -- Earned Runs Allowed  
HR -- Home Runs Hit/Allowed  
BB -- Bases on Balls/Walks  
IBB -- Intentional Bases on Balls  
First tracked in 1955.  
SO -- Strikeouts  
HBP -- Times Hit by a Pitch.  
BK -- Balks  
WP -- Wild Pitches  
BF -- Batters Faced  
ERA+ -- ERA+  
100x(lgERA/ERA)
Adjusted to the player’s ballpark(s).  
FIP -- Fielding Independent Pitching  
this stat measures a pitcher's effectiveness at preventing HR, BB, HBP and causing SO
(13xHR + 3x(BB+HBP) - 2xSO)/IP + Constantlg
The constant is set so that each season MLB average FIP is the same as the MLB avg ERA  
WHIP -- (BB + H)/IP  
For recent years, leaders need 1 IP
per team game played  
H9 -- 9 x H / IP  
For recent years, leaders need 1 IP
per team game played  
HR9 -- 9 x HR / IP  
For recent years, leaders need 1 IP
per team game played  
BB9 -- 9 x BB / IP  
For recent years, leaders need 1 IP
per team game played  
SO9 -- 9 x SO / IP  
For recent years, leaders need 1 IP
per team game played  
SO/W -- SO/W or SO/BB  
For recent years, pitching leaders need 1 IP
per team game played.  
No batting leaders computed.  
LOB -- Runners Left On Base

### Fielding

**#Fld** -- Number of Players used as Fielders  
**RA/G** -- Runs Allowed Per Game  
**DefEff** -- Defensive Efficiency  
*Percentage of balls in play converted into outs. This is an estimate based on team defensive and pitching stats. We utilize two estimates of plays made. One using innings pitched, strikeouts, double plays and outfield assists. And the other with batters faced, strikeouts, hits allowed, walks allowed, hbp, and .71 x errors committed (avg percent of errors that result in an ROE) Total plays available are plays made + hits allowed - home runs + error committed estimate.*  
**G** -- Games Played or Pitched
GS -- Games Started  
CG -- Complete Game  
Inn -- Innings Played in Field  
Ch -- Defensive Chances  
*Putouts + Assists + Errors*  
PO -- Putouts  
A -- Assists  
E -- Errors Committed  
DP -- Double Plays Turned  
Fld% -- Fielding Percentage  
(Putouts + Assists) / (Putouts + Assists + Errors)
Rtot -- Total Zone Total Fielding Runs Above Avg
The number of runs above or below average the player was worth based on the number of plays made. This number combines the Rtz, Rdp, Rof, Rcatch numbers into a total defensive contribution.  
Rtot/yr -- Total Zone Total Fielding Runs Above Avg per 1,200 Inn  
The number of runs above or below average the fielder was worth per 1,200 Innings (approx 135 games).
This number combines the Rtz, Rdp, Rof, Rcatch numbers into a total defensive contribution.
See the glossary section for a more complete explanation.
Provided by BaseballProjection.com  
Rdrs -- BIS Defensive Runs Saved Above Avg  
The number of runs above or below average the player was worth based on the number of plays made.
This number combines the Rpm, Rbdp, Rbof, Rbcatch numbers into a total defensive contribution.
Provided by Baseball Info Solutions  
Rdrs/yr -- BIS Defensive Runs Saved Above Avg per 1,200 Inn  
The number of runs above or below average the fielder was worth per 1,200 Innings (approx 135 games).
This number combines the Rpm, Rbdp, Rbof, Rbcatch numbers into a total defensive contribution.
For pitchers, this is set to 200 Innings.

## Parse Tables by Year

* For column headers, skip first column with hyperlinked team names. 
* For data rows, skip first row (column headers) and last two rows (summary statistics). 
* Reset index after each year of data.
* List of teams changes in 2005 and 2013.

### Batting

In [40]:
# 2002 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_02bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_02bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_bat['Year'] = '2002'
df_bat['YrTm'] = df_bat['Year'] + df_bat['Team']
df_bat.shape # should be 14 rows

(14, 31)

In [41]:
# 2003 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_03bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_03bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_bat_interim['Year'] = '2003'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 28 rows

(28, 31)

In [42]:
# 2004 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_04bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_04bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_bat_interim['Year'] = '2004'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 42 rows

(42, 31)

In [43]:
# 2005 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_05bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_05bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2005'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 56 rows

(56, 31)

In [44]:
# 2006 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_06bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_06bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2006'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 70 rows

(70, 31)

In [45]:
# 2007 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_07bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_07bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2007'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 84 rows

(84, 31)

In [46]:
# 2008 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_08bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_08bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2008'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 98 rows

(98, 31)

In [47]:
# 2009 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_09bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_09bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2009'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 112 rows

(112, 31)

In [48]:
# 2010 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_10bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_10bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2010'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 126 rows

(126, 31)

In [49]:
# 2011 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_11bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_11bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2011'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 140 rows

(140, 31)

In [50]:
# 2012 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_12bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_12bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_bat_interim['Year'] = '2012'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 154 rows

(154, 31)

In [51]:
# 2013 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_13bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_13bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2013'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 169 rows

(169, 31)

In [52]:
# 2014 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_14bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_14bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2014'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 184 rows

(184, 31)

In [53]:
# 2015 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_15bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_15bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2015'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 199 rows

(199, 31)

In [54]:
# 2016 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_16bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_16bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2016'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 214 rows

(214, 31)

In [55]:
# 2017 - Batting DF
col_headers_bat = [th.getText() for th in 
                  table_17bat.findAll('tr')[0].findAll('th')][1:]
data_rows_bat = table_17bat.findAll('tr')[1:-2] 
player_data_bat = [[td.getText() for td in data_rows_bat[i].findAll('td')]
               for i in range(len(data_rows_bat))]

df_bat_interim = pd.DataFrame(player_data_bat, columns=col_headers_bat)
df_bat_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_bat_interim['Year'] = '2017'
df_bat_interim['YrTm'] = df_bat_interim['Year'] + df_bat_interim['Team']
df_bat = pd.concat([df_bat, df_bat_interim]).reset_index(drop=True)
df_bat.shape # should be 229 rows

(229, 31)

In [57]:
df_bat.sample(10)

,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,3B,...,TB,GDP,HBP,SH,SF,IBB,LOB,Team,Year,YrTm
103,43,27.6,4.23,162,6103,5532,686,1432,276,51,...,2242,135,42,38,32,20,1090,KCR,2009,2009KCR
34,58,29.0,4.44,162,6153,5538,720,1432,261,29,...,2201,130,76,40,38,28,1099,KCR,2004,2004KCR
121,49,27.8,4.09,162,6117,5448,663,1396,276,30,...,2059,129,47,43,51,16,1159,OAK,2010,2010OAK
45,38,27.5,4.88,162,6255,5609,790,1522,337,30,...,2540,128,54,39,50,33,1148,CLE,2005,2005CLE
209,51,28.7,4.03,162,6022,5500,653,1352,270,21,...,2171,142,33,13,34,19,1036,OAK,2016,2016OAK
213,49,30.0,4.69,162,6233,5479,759,1358,276,18,...,2333,153,55,26,40,16,1120,TOR,2016,2016TOR
96,55,27.7,5.56,162,6478,5728,901,1619,376,35,...,2647,117,63,37,54,43,1238,TEX,2008,2008TEX
179,45,29.6,4.50,162,6245,5545,729,1354,253,33,...,2111,118,49,19,43,34,1147,OAK,2014,2014OAK
175,48,28.2,4.02,162,6058,5545,651,1456,286,29,...,2085,131,53,33,47,22,1080,KCR,2014,2014KCR
7,42,26.6,4.77,161,6196,5582,768,1518,348,36,...,2439,121,56,34,52,30,1124,MIN,2002,2002MIN

### Pitching

In [21]:
# 2002 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_02pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_02pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_pit['Year'] = '2002'
df_pit['YrTm'] = df_pit['Year'] + df_pit['Team']
df_pit.shape # should be 14 rows

(14, 38)

In [22]:
# 2003 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_03pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_03pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_pit_interim['Year'] = '2003'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 28 rows

(28, 38)

In [23]:
# 2004 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_04pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_04pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_pit_interim['Year'] = '2004'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 42 rows

(42, 38)

In [24]:
# 2005 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_05pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_05pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2005'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 56 rows

(56, 38)

In [25]:
# 2006 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_06pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_06pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2006'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 70 rows

(70, 38)

In [26]:
# 2007 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_07pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_07pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2007'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 84 rows

(84, 38)

In [27]:
# 2008 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_08pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_08pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2008'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 98 rows

(98, 38)

In [28]:
# 2009 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_09pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_09pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2009'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 112 rows

(112, 38)

In [29]:
# 2010 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_10pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_10pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2010'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 126 rows

(126, 38)

In [30]:
# 2011 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_11pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_11pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2011'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 140 rows

(140, 38)

In [31]:
# 2012 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_12pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_12pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_pit_interim['Year'] = '2012'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 154 rows

(154, 38)

In [32]:
# 2013 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_13pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_13pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2013'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 169 rows

(169, 38)

In [33]:
# 2014 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_14pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_14pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2014'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 184 rows

(184, 38)

In [34]:
# 2015 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_15pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_15pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2015'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 199 rows

(199, 38)

In [35]:
# 2016 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_16pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_16pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2016'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 214 rows

(214, 38)

In [36]:
# 2017 - Pitching DF
col_headers_pit = [th.getText() for th in 
                  table_17pit.findAll('tr')[0].findAll('th')][1:]
data_rows_pit = table_17pit.findAll('tr')[1:-2] 
player_data_pit = [[td.getText() for td in data_rows_pit[i].findAll('td')]
               for i in range(len(data_rows_pit))]

df_pit_interim = pd.DataFrame(player_data_pit, columns=col_headers_pit)
df_pit_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_pit_interim['Year'] = '2017'
df_pit_interim['YrTm'] = df_pit_interim['Year'] + df_pit_interim['Team']
df_pit = pd.concat([df_pit, df_pit_interim]).reset_index(drop=True)
df_pit.shape # should be 229 rows

(229, 38)

In [37]:
df_pit.sample(10)

,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,GF,...,WHIP,H9,HR9,BB9,SO9,SO/W,LOB,Team,Year,YrTm
74,25,28.5,4.92,88,74,.543,4.57,162,162,161,...,1.426,9.3,1.1,3.5,6.5,1.85,1206,DET,2007,2007DET
212,31,28.8,4.67,95,67,.586,4.37,162,162,161,...,1.369,9.0,1.3,3.3,7.2,2.16,1100,TEX,2016,2016TEX
203,23,29.0,4.48,86,75,.534,4.24,161,161,158,...,1.316,8.9,1.1,2.9,7.8,2.67,1043,DET,2016,2016DET
194,30,27.8,4.50,68,94,.420,4.14,162,162,157,...,1.299,8.7,1.1,3.0,7.3,2.49,1065,OAK,2015,2015OAK
127,27,30.3,4.55,90,72,.556,4.20,162,162,160,...,1.308,8.4,1.0,3.3,7.5,2.25,1133,BOS,2011,2011BOS
210,32,28.8,4.36,86,76,.531,4.00,162,162,160,...,1.283,8.7,1.3,2.8,8.1,2.87,1069,SEA,2016,2016SEA
9,17,27.4,4.04,103,59,.636,3.68,162,162,153,...,1.284,8.6,0.8,2.9,6.3,2.15,1148,OAK,2002,2002OAK
82,25,27.7,5.21,75,87,.463,4.75,162,162,162,...,1.534,9.6,1.0,4.2,6.1,1.46,1255,TEX,2007,2007TEX
61,31,27.7,5.99,62,100,.383,5.65,162,162,159,...,1.602,10.4,1.3,4.0,5.7,1.42,1184,KCR,2006,2006KCR
167,25,27.9,3.90,91,72,.558,3.62,163,163,159,...,1.277,8.4,1.0,3.1,8.1,2.63,1120,TEX,2013,2013TEX

In [38]:
df_pit.head()

,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,GF,...,WHIP,H9,HR9,BB9,SO9,SO/W,LOB,Team,Year,YrTm
0,18,30.2,3.98,99,63,.611,3.69,162,162,155,...,1.277,8.3,1.0,3.2,6.2,1.96,1096,LAA,2002,2002LAA
1,20,27.8,4.77,67,95,.414,4.46,162,162,154,...,1.406,9.3,1.3,3.4,6.0,1.76,1133,BAL,2002,2002BAL
2,18,31.1,4.10,93,69,.574,3.75,162,162,157,...,1.223,8.3,0.9,2.7,7.2,2.69,1046,BOS,2002,2002BOS
3,16,25.8,4.93,81,81,.500,4.53,162,162,155,...,1.370,9.0,1.2,3.3,6.0,1.79,1064,CHW,2002,2002CHW
4,31,28.1,5.17,74,88,.457,4.91,162,162,153,...,1.482,9.5,0.9,3.8,6.7,1.75,1160,CLE,2002,2002CLE

In [39]:
df_pit.tail()

,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,GF,...,WHIP,H9,HR9,BB9,SO9,SO/W,LOB,Team,Year,YrTm
224,28,27.9,5.10,75,87,.463,4.67,162,162,161,...,1.360,9.1,1.3,3.2,7.6,2.39,1048,OAK,2017,2017OAK
225,40,27.8,4.77,78,84,.481,4.46,162,162,161,...,1.312,8.7,1.5,3.1,7.8,2.54,1039,SEA,2017,2017SEA
226,30,27.6,4.35,80,82,.494,3.97,162,162,162,...,1.264,8.2,1.2,3.1,8.4,2.69,1060,TBD,2017,2017TBD
227,31,28.8,5.04,78,84,.481,4.66,162,162,160,...,1.396,9.1,1.3,3.5,6.9,1.98,1092,TEX,2017,2017TEX
228,33,28.8,4.84,76,86,.469,4.42,162,162,160,...,1.371,9.0,1.2,3.4,8.4,2.50,1137,TOR,2017,2017TOR

### Fielding

In [58]:
# 2002 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_02fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_02fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_fld['Year'] = '2002'
df_fld['YrTm'] = df_fld['Year'] + df_fld['Team']
df_fld.shape # should be 14 rows

(14, 18)

In [59]:
# 2003 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_03fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_03fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_fld_interim['Year'] = '2003'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 28 rows

(28, 20)

Columns increased from 18 to 20 starting in 2003 because of addition of two stats:
* **Rdrs:** Defensive runs saved above average
* **Rdrs/yr:** Defensive runs saved above average per 1,200 innings (appx 135 games)

In [60]:
# 2004 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_04fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_04fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_02to04})
df_fld_interim['Year'] = '2004'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 42 rows

(42, 20)

In [61]:
# 2005 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_05fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_05fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2005'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 56 rows

(56, 20)

In [62]:
# 2006 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_06fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_06fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2006'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 70 rows

(70, 20)

In [63]:
# 2007 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_07fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_07fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2007'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 84 rows

(84, 20)

In [64]:
# 2008 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_08fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_08fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2008'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 98 rows

(98, 20)

In [71]:
# 2009 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_09fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_09fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2009'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 112 rows

(112, 20)

In [72]:
# 2010 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_10fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_10fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2010'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 126 rows

(126, 20)

In [73]:
# 2011 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_11fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_11fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2011'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 140 rows

(140, 20)

In [74]:
# 2012 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_12fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_12fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_05to12})
df_fld_interim['Year'] = '2012'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 154 rows

(154, 20)

In [75]:
# 2013 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_13fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_13fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2013'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 169 rows

(169, 20)

In [76]:
# 2014 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_14fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_14fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2014'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 184 rows

(184, 20)

In [77]:
# 2015 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_15fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_15fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2015'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 199 rows

(199, 20)

In [78]:
# 2016 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_16fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_16fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2016'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 214 rows

(214, 20)

In [79]:
# 2017 - Fielding DF
col_headers_fld = [th.getText() for th in 
                  table_17fld.findAll('tr')[0].findAll('th')][1:]
data_rows_fld = table_17fld.findAll('tr')[1:-2] 
player_data_fld = [[td.getText() for td in data_rows_fld[i].findAll('td')]
               for i in range(len(data_rows_fld))]

df_fld_interim = pd.DataFrame(player_data_fld, columns=col_headers_fld)
df_fld_interim['Team'] = pd.DataFrame({'Team': teams_list_13to17})
df_fld_interim['Year'] = '2017'
df_fld_interim['YrTm'] = df_fld_interim['Year'] + df_fld_interim['Team']
df_fld = pd.concat([df_fld, df_fld_interim]).reset_index(drop=True)
df_fld.shape # should be 229 rows

(229, 20)

In [80]:
df_fld.head()

,#Fld,A,CG,Ch,DP,DefEff,E,Fld%,G,GS,Inn,PO,RA/G,Rdrs,Rdrs/yr,Rtot,Rtot/yr,Team,Year,YrTm
0,40,1575,1075,6020,151,.718,87,.986,162,1458,13071.0,4358,3.98,NaN,NaN,98,9,LAA,2002,2002LAA
1,46,1720,1165,6163,173,.701,91,.985,162,1458,13056.0,4352,4.77,NaN,NaN,43,4,BAL,2002,2002BAL
2,39,1645,1150,6087,140,.702,104,.983,162,1458,13014.0,4338,4.10,NaN,NaN,62,6,BOS,2002,2002BOS
3,35,1595,1168,5961,157,.706,97,.984,162,1458,12807.0,4269,4.93,NaN,NaN,13,1,CHW,2002,2002CHW
4,59,1662,1153,6049,161,.674,113,.981,162,1458,12822.0,4274,5.17,NaN,NaN,-49,-5,CLE,2002,2002CLE

In [81]:
df_fld.tail()

,#Fld,A,CG,Ch,DP,DefEff,E,Fld%,G,GS,Inn,PO,RA/G,Rdrs,Rdrs/yr,Rtot,Rtot/yr,Team,Year,YrTm
224,54,1597,1111,6011,162,.686,121,.980,162,1458,12879.0,4293,5.10,-48,-1,-41,-4,OAK,2017,2017OAK
225,61,1422,1154,5847,147,.700,103,.982,162,1458,12963.0,4322,4.77,6,0,10,1,SEA,2017,2017SEA
226,53,1433,1129,5868,129,.701,100,.983,162,1458,13005.0,4335,4.35,59,1,26,2,TBD,2017,2017TBD
227,51,1616,1131,6027,173,.695,108,.982,162,1458,12909.0,4303,5.04,-1,0,50,5,TEX,2017,2017TEX
228,60,1570,1073,6057,145,.682,92,.985,162,1458,13185.0,4395,4.84,-17,-2,-28,-3,TOR,2017,2017TOR

In [83]:
df_fld.sample(5)

,#Fld,A,CG,Ch,DP,DefEff,E,Fld%,G,GS,Inn,PO,RA/G,Rdrs,Rdrs/yr,Rtot,Rtot/yr,Team,Year,YrTm
86,38,1730,1110,6211,155,.686,108,.983,163,1467,13119.0,4373,4.47,-35,-3,-42,-4,CHW,2008,2008CHW
112,45,1582,1154,5996,141,.690,105,.982,162,1458,12927.0,4309,4.85,-26,-2,-7,-1,BAL,2010,2010BAL
17,40,1588,1075,5975,154,.705,93,.984,162,1458,12879.0,4294,4.41,26,0,26,2,CHW,2003,2003CHW
223,51,1468,1131,5909,102,.703,95,.984,162,1458,13038.0,4346,4.07,19,2,25,2,NYY,2017,2017NYY
76,42,1550,1131,5956,154,.678,101,.983,162,1458,12915.0,4305,4.51,-10,0,13,1,LAA,2007,2007LAA

## Reduce Variables from Scraped Tables

### Batting

Want to keep ID variables (`Team`, `Year`, `YrTm`) as well as:
* **`#Bat`:** Number of players used in games
* **`R/G`:** Runs scored per game
* **`G`:** Games played or pitched
* **`AB`:** At Bats
* **`2B`:** E
* **`3B`:** E
* **`HR`:** E
* **`RBI`:** E
* **`SB`:** E
* **`BB`:** E

### Pitching

Want to keep ID variables (`Team`, `Year`, `YrTm`) as well as:
* **`V`:** E
* **`V`:** E
* **`V`:** E
* **`V`:** E
* **`V`:** E
* **`V`:** E
* **`V`:** E
* **`V`:** E
* **`V`:** E

In [ ]:
df_pit_keep = df_pit[['#P', 'RA/G', 'W-L%', 'ERA', 'ERA+']]
df_pit_keep.sample()

### Fielding

## Merge Tables

In [ ]:
df_master =

# Exploratory Data Analysis

## Pitching

In [86]:
df_pit_keep.sample(5)

     #P  RA/G  W-L%   ERA ERA+
125  24  4.49  .525  4.22  100
211  25  4.40  .420  4.20   96
149  25  3.79  .580  3.48  112
98   27  5.41  .395  5.15   89
44   17  3.98  .611  3.61  125

In [ ]:
df_pit_keep.info()

In [ ]:
# Change datatype from object to floats/ints

df_pit_sm[['#P', 'ERA+']] = df_pit_sm[['#P', 'ERA+']].astype(int)
df_pit_sm[['RA/G', 'W-L%', 'ERA']] = df_pit_sm[['RA/G', 'W-L%', 'ERA']].astype(float)

df_pit_sm.info()

In [ ]:
df_pit_sm

#### Analysis
Based on heatmap below, looking at middle row for W-L%, I will definitely **not** include number of pitchers in my model. I will likely include RA/G or ERA which are highly correlated at -.87 and -.85 respectively.

In [ ]:
sns.heatmap(df_pit_sm.corr(), vmin=-1, vmax=1, cmap='seismic', annot=True)

In [ ]:
sns.pairplot(df_pit_sm, size = 1.2, aspect=1.5);